:root {
  --rows: 3;
  --coloumns: 10;

}




body {
  display: grid;
  grid-template-columns: repeat(var(--rows), 1fr);
  grid-template-rows:  4em repeat(var(--coloumns), 1fr);

  grid-template-areas: "head head2 head3"
                       "master master2 master3"
                       "lowermaster1 lowermaster2 lowermaster3"
                       "lowest1 lowest2 lowest3";




}

* {
  margin: 0;
  padding: 0;
}

#planSelector {

  grid-area: head;
}

#topic {
  grid-area: head2;
}

#header1 {
  grid-area: master;

}

#header2 {
  grid-area: master2;

}

#header3 {
  grid-area: master3;

}

.main {
  height: 5em;
}

#main1  {
  grid-area: lowest1;

}

#main2  {
  grid-area: lowest2;

}

#main3  {
  grid-area: lowest3;

}
