:root {
  --rows: 3;
  --coloumns: 10;

}




body {
  display: grid;
  grid-template-columns: repeat(var(--rows), 1fr);
  grid-template-rows:  4em repeat(var(--coloumns), 1fr);

  grid-template-areas: "head head2 head3"
                       "master master2 master3"
                       "lowest1 lowest2 lowest3";




}



#planSelector {

  grid-area: head;
  height: 3em;
}

#topic {
  grid-area: head2;
  height: 3em;
}
#header1 {
  grid-area: master;
  height: 3em;

}
#header2 {
  grid-area: master2;
  height: 3em;
}
#header3 {
  grid-area: master3;
  height: 3em;
}
.headers {
    padding: 0;
    margin: 0;

}



#main1  {
  grid-area: lowest1;
  height: 10em;
}

#main2  {
  grid-area: lowest2;
  height: 15em;
}

#main3  {
  grid-area: lowest3;
  height: 10em;
}
